<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 쿼리문 작성 -->
    
<mapper namespace="com.roadmap.social.dao.UserMapper">
    
    <select id = "getTopRank" resultType = "hashMap">
    	SELECT RANK, RID, RNAME FROM TOPROADMAP
    </select>
    
	<select id = "getTopBook" resultType = "hashMap">
		SELECT RANK, BNAME FROM TOPBOOK
	</select>
</mapper>